<div class="<%= class_names("card", { "multiple": (card.cards.any? && params[:id].to_i != card.id) }) %>"
     id="<%= dom_id card %>"
     draggable="true"
     data-controller="card"
     data-card-id-value="<%= card.id %>"
     data-action="dragstart->card#dragStart dragover->card#dragOver drop->card#drop">
  <h1><%= link_to card.title, card %></h1>

  <div class="card-content">
    <p>This is the content of the card.</p>
    <p>Multiple lines are accepted.</p>
  </div>
</div>

